@import '../../sassStyles/_variables.scss';
@import '../../sassStyles/mixins.scss';


.result__container {
  background-color: $color-white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  padding: 3rem 0;
  width: 86%;
  border-radius: 2rem;
  position: relative;
  bottom: 80rem;

  @include respond(tab-bg){
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 85%;
    padding: 3rem;
    position: relative;
    bottom: 76rem;
    justify-content: space-between;
    margin: .5rem auto;
  }

  .result {
    margin: 1rem 0;

    @include respond(tab-bg){
      margin: 0;
      position: relative;
      padding: 0 3rem;
    }

    &:last-child {
      border: none;
    }
  }

  @include respond(tab-bg){
    .line {
      width   : 5rem;
      height  : 10rem;   
      position: relative;
      z-index : 1;
      background: #eee;
    }
  }
  

  .result__heading {
    text-align: center;
    color: $dark-gray;
    font-size: $default-font-size;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: .4rem;

    @include respond(tab-sm){
      font-size: 1.6rem;
    }

    @include respond(tab-bg){
      text-align: left;
      margin-bottom: 2rem;
      
    }
  }

  .result__paragraph {
    text-align: center;
    font-size: 2rem;
    font-weight: $font-weight-md;

    @include respond(tab-bg){
      text-align: left;
      font-size: 2.5rem;
    }
  }

  .display-linebreak {
    white-space: pre-line;
  }

  
}