@import '../../sassStyles/mixins.scss';
@import '../../sassStyles/variables.scss';

.searchbar__box {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  align-items: center;
  width: 90%;
  overflow: hidden;
  
  @include respond(big-desktop){
    padding-top: 3rem;

  }
  
  
}

.searchbar__input {
  width: 80%;
  height: 4rem;
  border: none;
  border-radius: 1rem 0 0 1rem;
  outline: none;
  color: #000;
  padding: 1.6rem ;

  @include respond(tab-sm){
    padding: 2rem;

  }

  @include respond(tab-sm){
    padding: 2rem;
    width: 50%;

  }

  @include respond(tab-bg){
    padding: 2.7rem;
    width: 50%;
    font-size: 2rem;

  }

  @include respond(big-desktop){
    padding: 2.7rem;
    width: 50%;
    font-size: 2rem;

  }
  
}

.searchbar__button {
  width: 5rem;
  height: 4.2rem;
  border: none;
  border-radius: 0 1rem 1rem 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;

  @include respond(tab-bg){
    height: 5.5rem;
  }

  @include respond(big-desktop){
    height: 5.5rem;

  }

}
  

