// Screen Sizes
$screen-mobilePlus: 414px;
$screen-tabletSm: 768px;
$screen-tabletLg: 1024px;
$screen-full: 1281px;

// Colors
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$color-white: #ffff;


//Fonts
$default-font-size: 1.2rem;
$default-font-family: 'Rubik', sans-serif;

$font-weight-sm: 400;
$font-weight-md: 500;
$font-weight-lg: 700;