// Screen Sizes
$screen-sm : 375px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$color-white: #ffff;


//Fonts
$default-font-size: 1.2rem;
$default-font-family: 'Rubik', sans-serif;

$font-weight-sm: 400;
$font-weight-md: 500;
$font-weight-lg: 700;