@import './sassStyles/typography';
@import './sassStyles/mixins.scss';

.App  {
  background-image: url(./images/pattern-bg.png);
  background-repeat: no-repeat;
  
  width: 38rem;
  height: 80rem;

  @include respond(mobilePlus){
    width: 42rem;
  }

  @include respond(tab-sm){
    width: 77rem;
  }

  @include respond(tab-bg){
    width: 105rem;
  }

  @include respond(big-desktop){
    background-size: 180rem;
    width: 168rem;
  }

  .container__heading {
    padding-top: 2rem;

    .heading {
      text-align: center;
      font-weight: $font-weight-sm;

      @include respond(tab-sm){
        font-size: 3rem;
      }

      @include respond(big-desktop){
        font-size: 4.3rem;
      }
    }
    
  }
}